USE [SANKHYA_PRODUCAO]
GO
/****** Object:  Trigger [SANKHYA].[TRI_INC_LIB_STATUS_PEDIDO]    Script Date: 13/11/2023 16:34:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [SANKHYA].[TRI_INC_LIB_STATUS_PEDIDO] ON [SANKHYA].[TSILIB]
FOR INSERT 
AS 
BEGIN

	DECLARE @NUNOTA INT,
			@NUMROWS INT,
			@VALIDAR BIT,
			@ERRMSG VARCHAR(500),
			@SOLICITANTE CHAR(30),
			@NUCHAVE INT,
			@APROV_FINANNCEIRA VARCHAR,
			@VALOR_APROVADO DECIMAL,
			@SOLICITACAO_FINANCEIRA INT,
			@DIVISAO INT,
			@EVENTO INT,
			@HORA_LIB DATETIME,
			@LAYOUT VARCHAR,
			@SEPARADOR VARCHAR,
			@REPROVADO VARCHAR,
			@ID INT,
			@CODTOP INT
	

	SET @NUMROWS = @@ROWCOUNT
	IF @NUMROWS = 0
		RETURN

	IF (SANKHYA.STP_GET_ATUALIZANDO() = 1)
    RETURN

	SELECT 
		@NUNOTA = LIB.NUCHAVE,
		@APROV_FINANNCEIRA = LIB.REPROVADO,
		@VALOR_APROVADO = LIB.VLRLIBERADO,
		@SOLICITACAO_FINANCEIRA = LIB.CODUSULIB,
		@EVENTO = LIB.EVENTO,
		@HORA_LIB = LIB.DHLIB,
		@REPROVADO = LIB.REPROVADO,
		@CODTOP = LIB.CODTIPOPER
	FROM INSERTED LIB

	/* SINCRONIZAR DADOS*/
	EXEC SANKHYA.FPODEVALIDAR 'TSILIB', @VALIDAR OUTPUT 
	
	SET @DIVISAO = (SELECT CODNAT FROM TGFCAB WHERE NUNOTA = @NUNOTA)
	SET @LAYOUT = (SELECT AD_APROVLAYOUT FROM TGFCAB WHERE NUNOTA = @NUNOTA)

	SET NOCOUNT ON


	-----------------------------------INICIO DAS REGRAS DE NEGOCIOS --------------------------------------

	IF (@DIVISAO = '1010100')
	BEGIN		
		---- VERIFICA SE O PEDIDO FOI CONFIRMADO E VAI PARA APROVAÇÃO FINANCEIRA

		IF (@EVENTO = '44' AND (@VALOR_APROVADO IS NULL OR @VALOR_APROVADO = 0) AND @HORA_LIB IS NULL)
		BEGIN
			IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='EDI' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'AAF' WHERE NUNOTA = @NUNOTA
			END
		END

		IF (@EVENTO = '18' AND (@VALOR_APROVADO IS NULL OR @VALOR_APROVADO = 0) AND @HORA_LIB IS NULL)
		BEGIN
			IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='EDI' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'ACN' WHERE NUNOTA = @NUNOTA
			END
		END
	END

	IF (@DIVISAO = '1010200')
	BEGIN
		
		IF (@CODTOP = 1273 OR @CODTOP = 1278 OR @CODTOP = 1280 OR @CODTOP = 1003)
		BEGIN
		-- VERIFICA SE EXISTE SOMENTE APROVAÇÃO COMERCIAL
			IF ((@EVENTO = 18) AND (@VALOR_APROVADO IS NULL OR @VALOR_APROVADO = 0) AND @HORA_LIB IS NULL)
			BEGIN
				IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='EDI' AND NUNOTA = @NUNOTA)
				BEGIN
					UPDATE TGFCAB SET AD_STATUS_PED = 'ACN' WHERE NUNOTA = @NUNOTA
				END
			END
		END	
		
		IF (@CODTOP = 1000)
		BEGIN
			---- VERIFICA SE EXISTE ALGUMA APROVAÇÃO FINANCEIRA
			IF ((@EVENTO = '44')AND (@VALOR_APROVADO IS NULL OR @VALOR_APROVADO = 0) AND @HORA_LIB IS NULL)
			BEGIN
				IF EXISTS (SELECT EVENTO FROM TSILIB WHERE NUCHAVE = @NUNOTA AND EVENTO IN (2,3,13,72))
				BEGIN
					IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='EDI' AND NUNOTA = @NUNOTA)
					BEGIN
						UPDATE TGFCAB SET AD_STATUS_PED = 'AAFC' WHERE NUNOTA = @NUNOTA
					END
				END
				IF NOT EXISTS (SELECT EVENTO FROM TSILIB WHERE NUCHAVE = @NUNOTA AND EVENTO IN (2,3,13,72) )
				BEGIN
					IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='EDI' AND NUNOTA = @NUNOTA)
					BEGIN
						UPDATE TGFCAB SET AD_STATUS_PED = 'AAF' WHERE NUNOTA = @NUNOTA
					END
				END
			END
		END

		IF (@CODTOP = 1246 OR @CODTOP = 1268)
		BEGIN
			---- VERIFICA SE EXISTE ALGUMA APROVAÇÃO FINANCEIRA
			IF ((@EVENTO = '44' )AND (@VALOR_APROVADO IS NULL OR @VALOR_APROVADO = 0) AND @HORA_LIB IS NULL)
			BEGIN
				IF EXISTS (SELECT EVENTO FROM TSILIB WHERE EVENTO IN (2,3,13) AND (VLRLIBERADO IS NULL OR VLRLIBERADO = 0) AND DHLIB IS NULL AND NUCHAVE = @NUNOTA)
				BEGIN
					IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='EDI' AND NUNOTA = @NUNOTA)
					BEGIN
						UPDATE TGFCAB SET AD_STATUS_PED = 'AAFC' WHERE NUNOTA = @NUNOTA
					END
				END
				IF NOT EXISTS (SELECT EVENTO FROM TSILIB WHERE EVENTO IN (2,3,13) AND (VLRLIBERADO IS NULL OR VLRLIBERADO = 0) AND DHLIB IS NULL AND  NUCHAVE = @NUNOTA)
				BEGIN
					IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='EDI' AND NUNOTA = @NUNOTA)
					BEGIN
						UPDATE TGFCAB SET AD_STATUS_PED = 'AAF' WHERE NUNOTA = @NUNOTA
					END
				END
			END
		END
		
		IF (@CODTOP = 1240)
		BEGIN
			---- VERIFICA SE EXISTE ALGUMA APROVAÇÃO FINANCEIRA
			IF ((@EVENTO = '44' )AND (@VALOR_APROVADO IS NULL OR @VALOR_APROVADO = 0) AND @HORA_LIB IS NULL)
			BEGIN
				IF EXISTS (SELECT EVENTO FROM TSILIB WHERE EVENTO IN (2,3,13) AND (VLRLIBERADO IS NULL OR VLRLIBERADO = 0) AND DHLIB IS NULL AND NUCHAVE = @NUNOTA)
				BEGIN
					IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='EDI' AND NUNOTA = @NUNOTA)
					BEGIN
						UPDATE TGFCAB SET AD_STATUS_PED = 'AAFC' WHERE NUNOTA = @NUNOTA
					END
				END
				IF NOT EXISTS (SELECT EVENTO FROM TSILIB WHERE EVENTO IN (2,3,13) AND (VLRLIBERADO IS NULL OR VLRLIBERADO = 0) AND DHLIB IS NULL AND  NUCHAVE = @NUNOTA)
				BEGIN
					IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='EDI' AND NUNOTA = @NUNOTA)
					BEGIN
						UPDATE TGFCAB SET AD_STATUS_PED = 'AAF' WHERE NUNOTA = @NUNOTA
					END
				END
			END
		END

		IF (@CODTOP = 1290)
		BEGIN
			---- VERIFICA SE EXISTE ALGUMA APROVAÇÃO FINANCEIRA
			IF ((@EVENTO = '44' )AND (@VALOR_APROVADO IS NULL OR @VALOR_APROVADO = 0) AND @HORA_LIB IS NULL)
			BEGIN
				IF EXISTS (SELECT EVENTO FROM TSILIB WHERE EVENTO IN (2,3,13) AND (VLRLIBERADO IS NULL OR VLRLIBERADO = 0) AND DHLIB IS NULL AND NUCHAVE = @NUNOTA)
				BEGIN
					IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='EDI' AND NUNOTA = @NUNOTA)
					BEGIN
						UPDATE TGFCAB SET AD_STATUS_PED = 'AAFC' WHERE NUNOTA = @NUNOTA
					END
				END
				IF NOT EXISTS (SELECT EVENTO FROM TSILIB WHERE EVENTO IN (2,3,13) AND (VLRLIBERADO IS NULL OR VLRLIBERADO = 0) AND DHLIB IS NULL AND  NUCHAVE = @NUNOTA)
				BEGIN
					IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='EDI' AND NUNOTA = @NUNOTA)
					BEGIN
						UPDATE TGFCAB SET AD_STATUS_PED = 'AAF' WHERE NUNOTA = @NUNOTA
					END
				END
			END
		END
		

	END

	
	IF (@DIVISAO = '1010500')
	BEGIN
		---- VERIFICA SE EXISTE ALGUMA APROVAÇÃO FINANCEIRA
		IF ((@EVENTO = '44' )AND (@VALOR_APROVADO IS NULL OR @VALOR_APROVADO = 0) AND @HORA_LIB IS NULL)
		BEGIN
			IF EXISTS (SELECT EVENTO FROM TSILIB WHERE EVENTO IN (2,3,13) AND (VLRLIBERADO IS NULL OR VLRLIBERADO = 0) AND DHLIB IS NULL AND NUCHAVE = @NUNOTA)
			BEGIN
				IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='EDI' AND NUNOTA = @NUNOTA)
				BEGIN
					UPDATE TGFCAB SET AD_STATUS_PED = 'AAFC' WHERE NUNOTA = @NUNOTA
				END
			END
			ELSE IF NOT EXISTS (SELECT EVENTO FROM TSILIB WHERE EVENTO IN (2,3,13) AND (VLRLIBERADO IS NULL OR VLRLIBERADO = 0) AND DHLIB IS NULL AND  NUCHAVE = @NUNOTA)
			BEGIN
				IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='EDI' AND NUNOTA = @NUNOTA)
				BEGIN
					UPDATE TGFCAB SET AD_STATUS_PED = 'AAF' WHERE NUNOTA = @NUNOTA
				END
			END
		END
	END
	
RETURN 

ERROR:
	IF (@VALIDAR = 1)
		EXEC SANKHYA.SNK_ERROR @ERRMSG

		SELECT @SOLICITANTE = PROGRAM_NAME
		FROM MASTER.DBO.SYSPROCESSES (NOLOCK)
		WHERE SPID = @@SPID

		IF (UPPER (@SOLICITANTE) LIKE 'MICROSOFT%') OR
				  (@SOLICITANTE = 'MS SQLEM') OR
				  (@SOLICITANTE = 'MS SQL QUERY ANALYZER') OR
			(UPPER (@SOLICITANTE) LIKE 'TOAD%')
		ROLLBACK TRANSACTION 

END
