USE [SANKHYA_PRODUCAO]
GO
/****** Object:  Trigger [SANKHYA].[TRI_UPD_LIB_STATUS_PEDIDO]    Script Date: 13/11/2023 16:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [SANKHYA].[TRI_UPD_LIB_STATUS_PEDIDO] ON [SANKHYA].[TSILIB]
FOR UPDATE 
AS 
BEGIN

	DECLARE @NUNOTA INT,
			@NUMROWS INT,
			@VALIDAR BIT,
			@ERRMSG VARCHAR(500),
			@SOLICITANTE CHAR(30),
			@NUCHAVE INT,
			@APROV_FINANNCEIRA VARCHAR,
			@VALOR_APROVADO DECIMAL,
			@SOLICITACAO_FINANCEIRA INT,
			@DIVISAO INT,
			@EVENTO INT,
			@HORA_LIB DATETIME,
			@LAYOUT VARCHAR,
			@SEPARADOR VARCHAR,
			@REPROVADO VARCHAR,
			@ID INT,
			@CODTOP INT,
			@NUNOTA_SAI INT,
			@DTBW DATETIME,
			@MSG CHAR(80)
	

	SET @NUMROWS = @@ROWCOUNT
	IF @NUMROWS = 0
		RETURN

	IF (SANKHYA.STP_GET_ATUALIZANDO() = 1)
    RETURN

	SELECT 
		@NUNOTA = LIB.NUCHAVE,
		@APROV_FINANNCEIRA = LIB.REPROVADO,
		@VALOR_APROVADO = LIB.VLRLIBERADO,
		@SOLICITACAO_FINANCEIRA = LIB.CODUSULIB,
		@EVENTO = LIB.EVENTO,
		@HORA_LIB = LIB.DHLIB,
		@REPROVADO = LIB.REPROVADO,
		@CODTOP = LIB.CODTIPOPER
	FROM INSERTED LIB

	/* SINCRONIZAR DADOS*/
	EXEC SANKHYA.FPODEVALIDAR 'TSILIB', @VALIDAR OUTPUT 
	
	SET @DIVISAO = (SELECT CODNAT FROM TGFCAB WHERE NUNOTA = @NUNOTA)
	SET @SEPARADOR = (SELECT AD_SEPARADOR FROM TGFCAB WHERE NUNOTA = @NUNOTA)
	SET @LAYOUT = (SELECT AD_APROVLAYOUT FROM TGFCAB WHERE NUNOTA = @NUNOTA)
	SET @DTBW = (SELECT AD_DTAENTRADA_BW FROM TGFCAB WHERE NUNOTA = @NUNOTA)


	SET NOCOUNT ON


	-----------------------------------INICIO DAS REGRAS DE NEGOCIOS --------------------------------------

	IF (@DIVISAO = '1010500')
	BEGIN
		
		-- VERIFICA SE FOI APROVADO SOMENTE O COMERCIAL
		IF ((@EVENTO = '1' OR @EVENTO = '2' OR @EVENTO = '3' OR @EVENTO = '13' OR @EVENTO = '14' OR @EVENTO = '62' OR @EVENTO = '77') AND (@VALOR_APROVADO IS NOT NULL OR @VALOR_APROVADO > 0) AND @HORA_LIB IS NOT NULL)
		BEGIN
			IF  EXISTS(SELECT EVENTO FROM TSILIB WHERE EVENTO = 44 AND (VLRLIBERADO IS NULL OR VLRLIBERADO =0) AND DHLIB IS NULL AND NUCHAVE = @NUNOTA) 
			BEGIN
				IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE (AD_STATUS_PED='AAC' OR AD_STATUS_PED='AAFC') AND NUNOTA = @NUNOTA)
				BEGIN
					UPDATE TGFCAB SET AD_STATUS_PED = 'AAF' WHERE NUNOTA = @NUNOTA
				END
			END
		END

		-- VERIFICA SE FOI APROVADO SOMENTE O FINANCEIRO
		IF (@EVENTO = '44' AND @VALOR_APROVADO > 0  OR  @VALOR_APROVADO IS NOT NULL AND @HORA_LIB IS NOT NULL)
		BEGIN
			IF EXISTS (SELECT EVENTO FROM TSILIB WHERE EVENTO IN (2,3,13) AND (VLRLIBERADO IS NULL OR VLRLIBERADO = 0) AND DHLIB IS NULL AND NUCHAVE = @NUNOTA) 
			BEGIN
				IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE (AD_STATUS_PED='AAF' OR AD_STATUS_PED='AAFC') AND NUNOTA = @NUNOTA)
				BEGIN
			
					UPDATE TGFCAB SET AD_STATUS_PED = 'AAC' WHERE NUNOTA = @NUNOTA
				END
			END
		END
		
		-- VERIFICA SE FOI APROVADO O COMERCIAL E PRECISA APROVAR LAYOUT
		IF ((@EVENTO = '2' OR @EVENTO = '3' OR @EVENTO = '13') AND @VALOR_APROVADO > 0  OR  @VALOR_APROVADO IS NOT NULL AND @HORA_LIB IS NOT NULL AND @LAYOUT = 'N')
		BEGIN
			IF EXISTS(SELECT AD_STATUS_PED FROM TGFCAB WHERE (AD_STATUS_PED='AAC') AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'AAL' WHERE NUNOTA = @NUNOTA
			END
		END
			
		-- VERIFICA SE FOI REPROVADO FINANCEIRO
		IF (@EVENTO= '44' AND (@VALOR_APROVADO >0 OR @VALOR_APROVADO IS NOT NULL) AND @HORA_LIB IS NOT NULL AND @REPROVADO='S')
		BEGIN
			IF EXISTS(SELECT AD_STATUS_PED FROM TGFCAB WHERE (AD_STATUS_PED='AAF' OR AD_STATUS_PED='AAFC') AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'REF' WHERE NUNOTA = @NUNOTA
			END
		END

		-- VERIFICA SE FOI APROVADO FINANCEIRO E TEM COMERCIAL.
		IF (@EVENTO = '44' AND @VALOR_APROVADO > 0  OR  @VALOR_APROVADO IS NOT NULL AND @HORA_LIB IS NOT NULL AND @LAYOUT = 'N')
		BEGIN
			IF EXISTS (SELECT EVENTO FROM TSILIB WHERE EVENTO IN (2,3,13) AND (VLRLIBERADO IS NULL OR VLRLIBERADO = 0) AND DHLIB IS NULL AND NUCHAVE = @NUNOTA)
			BEGIN
				IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='REF' AND NUNOTA = @NUNOTA)
				BEGIN
				
					UPDATE TGFCAB SET AD_STATUS_PED = 'AAC' WHERE NUNOTA = @NUNOTA
				END
			END

			-- VERIFICA SE OS EVENTOS COMERCIAL JA ESTAO APROVADOS
			IF NOT EXISTS (SELECT EVENTO FROM TSILIB WHERE EVENTO IN (2,3,13) AND (VLRLIBERADO IS NULL OR VLRLIBERADO = 0) AND DHLIB IS NULL AND NUCHAVE = @NUNOTA)
			BEGIN
				IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='REF' AND NUNOTA = @NUNOTA)
				BEGIN
				
					UPDATE TGFCAB SET AD_STATUS_PED = 'AAC' WHERE NUNOTA = @NUNOTA
				END
			END
		END

	END



	IF (@DIVISAO = '1010100')
	BEGIN		
		-- VERIFICAR SE APROVAÇÃO FINANCEIRA FOI EFETIVADA E VAI PARA APROVAÇÃO DO LAYOUT
		IF (@EVENTO = '44' AND @VALOR_APROVADO > 0  OR  @VALOR_APROVADO IS NOT NULL AND @HORA_LIB IS NOT NULL AND @LAYOUT = 'N')
		BEGIN
			IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='AAF' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'AAL' WHERE NUNOTA = @NUNOTA
			END
		END
		
		-- VERIFICAR SE APROVAÇÃO FINANCEIRA FOI RECUSADA
		IF (@EVENTO= '44' AND (@VALOR_APROVADO >0 OR @VALOR_APROVADO IS NOT NULL) AND @HORA_LIB IS NOT NULL AND @REPROVADO='S' AND @LAYOUT = 'N')
		BEGIN
			IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='AAF' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'REF' WHERE NUNOTA = @NUNOTA
			END
		END

		-- VERIFICAR SE APROVAÇÃO FINANCEIRA FOI EFETIVADA APOS SER REPROVADO E VAI PARA APROVAÇÃO DO LAYOUT
		IF (@EVENTO = '44' AND @VALOR_APROVADO > 0  OR  @VALOR_APROVADO IS NOT NULL AND @HORA_LIB IS NOT NULL AND @LAYOUT = 'N')
		BEGIN
			IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='REF' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'AAL' WHERE NUNOTA = @NUNOTA
			END
		END

		-- VERIFICAR SE APROVAÇÃO DE CONFIRMAÇÃO DA NOTA FOI EFETIVADA E VAI PARA APROVAÇÃO DO LAYOUT
		IF (@EVENTO = '18' AND @VALOR_APROVADO > 0  OR  @VALOR_APROVADO IS NOT NULL AND @HORA_LIB IS NOT NULL AND @LAYOUT = 'N' AND @DTBW IS NULL)
		BEGIN
			IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='ACN' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'AAL' WHERE NUNOTA = @NUNOTA
			END
		END
		---- verificar se foi aprovado e laytou tambem ja aprovado
		IF (@EVENTO = '18' AND @VALOR_APROVADO > 0  OR  @VALOR_APROVADO IS NOT NULL AND @HORA_LIB IS NOT NULL AND @LAYOUT = 'S' AND @DTBW IS NOT NULL)
		BEGIN
			IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='ACN' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'ASE' WHERE NUNOTA = @NUNOTA
			END
		END

		-- VERIFICAR SE A CONFIRMAÇÃO DA NOTA FOI RECUSADA
		IF (@EVENTO= '18' AND (@VALOR_APROVADO >0 OR @VALOR_APROVADO IS NOT NULL) AND @HORA_LIB IS NOT NULL AND @REPROVADO='S' AND @LAYOUT = 'N')
		BEGIN
			IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='ACN' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'NCN' WHERE NUNOTA = @NUNOTA
			END
		END

		-- VERIFICAR SE APROVAÇÃO DE CONFIRMAÇÃO DA NOTA FOI EFETIVADA E VAI PARA APROVAÇÃO DO LAYOUT
		IF (@EVENTO = '18' AND @VALOR_APROVADO > 0  OR  @VALOR_APROVADO IS NOT NULL AND @HORA_LIB IS NOT NULL AND @LAYOUT = 'N' AND @DTBW IS NULL)
		BEGIN
			IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='NCN' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'AAL' WHERE NUNOTA = @NUNOTA
			END
		END

		-- VERIFICAR SE APROVAÇÃO DE CONFIRMAÇÃO DA NOTA FOI EFETIVADA E VAI PARA APROVAÇÃO DO LAYOUT
		IF (@EVENTO = '18' AND @VALOR_APROVADO > 0  OR  @VALOR_APROVADO IS NOT NULL AND @HORA_LIB IS NOT NULL AND @LAYOUT = 'S' AND @DTBW IS NOT NULL)
		BEGIN
			IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='NCN' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'ASE' WHERE NUNOTA = @NUNOTA
			END
		END

	END

	IF (@DIVISAO = '1010200')
	BEGIN	
		IF (@CODTOP = 1000 OR @CODTOP = 1240 OR @CODTOP = 1290 OR @CODTOP = 1246 )
		BEGIN
			-- VERIFICA SE FOI APROVADO SOMENTE O COMERCIAL
			IF ((@EVENTO = '1' OR @EVENTO = '2' OR @EVENTO = '3' OR @EVENTO = '13' OR @EVENTO = '14' OR @EVENTO = '62' OR @EVENTO = '77') AND (@VALOR_APROVADO IS NOT NULL OR @VALOR_APROVADO > 0) AND @HORA_LIB IS NOT NULL)
			BEGIN
				IF EXISTS(SELECT EVENTO FROM TSILIB WHERE EVENTO = 44 AND (VLRLIBERADO IS NULL OR VLRLIBERADO =0) AND DHLIB IS NULL AND NUCHAVE = @NUNOTA) 
				BEGIN
					IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE (AD_STATUS_PED='AAC' OR AD_STATUS_PED='AAFC') AND NUNOTA = @NUNOTA)
					BEGIN
						UPDATE TGFCAB SET AD_STATUS_PED = 'AAF' WHERE NUNOTA = @NUNOTA
					END
				END
			END

			-- VERIFICA SE FOI APROVADO SOMENTE O FINANCEIRO
			IF (@EVENTO = '44' AND @VALOR_APROVADO > 0  OR  @VALOR_APROVADO IS NOT NULL AND @HORA_LIB IS NOT NULL  AND @REPROVADO='N')
			BEGIN
				IF EXISTS (SELECT EVENTO FROM TSILIB WHERE  NUCHAVE = @NUNOTA AND EVENTO IN (2,3,13)) 
				BEGIN
					IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE (AD_STATUS_PED='AAFC') AND NUNOTA = @NUNOTA)
					BEGIN
						UPDATE TGFCAB SET AD_STATUS_PED = 'AAC' WHERE NUNOTA = @NUNOTA
					END
				END
				IF NOT EXISTS (SELECT EVENTO FROM TSILIB WHERE  NUCHAVE = @NUNOTA AND EVENTO IN (2,3,13))
				BEGIN
					IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE (AD_STATUS_PED='AAF') AND NUNOTA = @NUNOTA)
					BEGIN
						UPDATE TGFCAB SET AD_STATUS_PED = 'ASE' WHERE NUNOTA = @NUNOTA
				
					END
				END
			END

			/**-- O ERRO ESTA ENTRANDO NESSE PONTO
			IF ((@EVENTO = '2' OR @EVENTO = '3' OR @EVENTO = '13') AND @VALOR_APROVADO > 0  OR  @VALOR_APROVADO IS NOT NULL AND @HORA_LIB IS NOT NULL AND @LAYOUT = 'N')
			BEGIN
				IF EXISTS (SELECT EVENTO FROM TSILIB WHERE EVENTO IN (2,3,13) AND (VLRLIBERADO IS NULL OR VLRLIBERADO = 0) AND DHLIB IS NULL AND NUCHAVE = @NUNOTA) 
				BEGIN
					IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE (AD_STATUS_PED='AAC') AND NUNOTA = @NUNOTA)
					BEGIN
						UPDATE TGFCAB SET AD_STATUS_PED = 'ASE' WHERE NUNOTA = @NUNOTA
					
					END
				END
			END
			**/
			
		END
		
		-- VERIFICA SE O PEDIDOS DE DISPLAY FOI RECUSADO COMERCIALMENTE
		IF (@CODTOP = 1278)
		BEGIN
			IF ((@EVENTO = '18' ) AND (@VALOR_APROVADO IS NOT NULL OR @VALOR_APROVADO > 0) AND @REPROVADO='S' AND @HORA_LIB IS NOT NULL)
			BEGIN
				IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE (AD_STATUS_PED='ACN' AND NUNOTA = @NUNOTA) )
				BEGIN
					UPDATE TGFCAB SET AD_STATUS_PED = 'NCN' WHERE NUNOTA = @NUNOTA
				END
			END

			---- verificar se foi aprovado e laytou tambem ja aprovado
			IF (@EVENTO = '18' AND @VALOR_APROVADO > 0  OR  @VALOR_APROVADO IS NOT NULL AND @HORA_LIB IS NOT NULL AND @LAYOUT = 'S' AND @DTBW IS NOT NULL)
			BEGIN
				IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='ACN' AND NUNOTA = @NUNOTA)
				BEGIN
					UPDATE TGFCAB SET AD_STATUS_PED = 'ASE' WHERE NUNOTA = @NUNOTA
				END
			END

			---- verificar se foi aprovado e laytou tambem ja aprovado
			IF (@EVENTO = '18' AND @VALOR_APROVADO > 0  OR  @VALOR_APROVADO IS NOT NULL AND @HORA_LIB IS NOT NULL AND @LAYOUT = 'S' AND @DTBW IS NOT NULL)
			BEGIN
				IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='ACN' AND NUNOTA = @NUNOTA)
				BEGIN
					UPDATE TGFCAB SET AD_STATUS_PED = 'ASE' WHERE NUNOTA = @NUNOTA
				END
			END

			-- VERIFICA APROVAÇÃO VALOR MINIMO
			IF ((@EVENTO = '13' ) AND (@VALOR_APROVADO IS NOT NULL OR @VALOR_APROVADO > 0) AND @REPROVADO='N' AND @HORA_LIB IS NOT NULL)
			BEGIN
				IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='AACVM'  AND NUNOTA = @NUNOTA)
				BEGIN
					UPDATE TGFCAB SET AD_STATUS_PED = 'ASE' WHERE NUNOTA = @NUNOTA
				END
			END
			
			-- VERIFICA REPROVAÇÃO VALOR MINIMO
			IF ((@EVENTO = '13' ) AND (@VALOR_APROVADO IS NOT NULL OR @VALOR_APROVADO > 0) AND @REPROVADO='S' AND @HORA_LIB IS NOT NULL)
			BEGIN
				IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='AACVM'  AND NUNOTA = @NUNOTA)
				BEGIN
					UPDATE TGFCAB SET AD_STATUS_PED = 'REC' WHERE NUNOTA = @NUNOTA
				END
			END
			IF ((@EVENTO = '13' ) AND (@VALOR_APROVADO IS NOT NULL OR @VALOR_APROVADO > 0) AND @REPROVADO='N' AND @HORA_LIB IS NOT NULL)
			BEGIN
				IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='REC'  AND NUNOTA = @NUNOTA)
				BEGIN
					UPDATE TGFCAB SET AD_STATUS_PED = 'AF' WHERE NUNOTA = @NUNOTA
				END
			END

		END


		-- EXPOSITOR DE TERCEIRO
		IF (@CODTOP = 1273  OR @CODTOP = 1280)
		BEGIN
			
			IF ((@EVENTO = '18' ) AND (@VALOR_APROVADO IS NOT NULL OR @VALOR_APROVADO > 0) AND @REPROVADO='S' AND @HORA_LIB IS NOT NULL)
			BEGIN
				IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE (AD_STATUS_PED='ACN') AND NUNOTA = @NUNOTA)
				BEGIN
					UPDATE TGFCAB SET AD_STATUS_PED = 'REC' WHERE NUNOTA = @NUNOTA
				END
			END
			IF ((@EVENTO = '18' ) AND (@VALOR_APROVADO IS NOT NULL OR @VALOR_APROVADO > 0) AND @REPROVADO='N' AND @HORA_LIB IS NOT NULL)
			BEGIN	 
				 IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE (AD_STATUS_PED='REC') AND NUNOTA = @NUNOTA)
					BEGIN
						UPDATE TGFCAB SET AD_STATUS_PED = 'AF' WHERE NUNOTA = @NUNOTA
					END
			END
			IF ((@EVENTO = '18' ) AND (@VALOR_APROVADO IS NOT NULL OR @VALOR_APROVADO > 0) AND @REPROVADO='N' AND @HORA_LIB IS NOT NULL)
			BEGIN	 
				 IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE (AD_STATUS_PED='ACN') AND NUNOTA = @NUNOTA)
					BEGIN
						UPDATE TGFCAB SET AD_STATUS_PED = 'AF' WHERE NUNOTA = @NUNOTA
					END
			END
			-- VERIFICA APROVAÇÃO VALOR MINIMO
			IF ((@EVENTO = '13' ) AND (@VALOR_APROVADO IS NOT NULL OR @VALOR_APROVADO > 0) AND @REPROVADO='N' AND @HORA_LIB IS NOT NULL)
			BEGIN
				IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='AACVM'  AND NUNOTA = @NUNOTA)
				BEGIN
					UPDATE TGFCAB SET AD_STATUS_PED = 'AF' WHERE NUNOTA = @NUNOTA
				END
			END
			
			-- VERIFICA REPROVAÇÃO VALOR MINIMO
			IF ((@EVENTO = '13' ) AND (@VALOR_APROVADO IS NOT NULL OR @VALOR_APROVADO > 0) AND @REPROVADO='S' AND @HORA_LIB IS NOT NULL)
			BEGIN
				IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='AACVM'  AND NUNOTA = @NUNOTA)
				BEGIN
					UPDATE TGFCAB SET AD_STATUS_PED = 'REC' WHERE NUNOTA = @NUNOTA
				END
			END

			IF ((@EVENTO = '13' ) AND (@VALOR_APROVADO IS NOT NULL OR @VALOR_APROVADO > 0) AND @REPROVADO='N' AND @HORA_LIB IS NOT NULL)
			BEGIN
				IF EXISTS(SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='REC'  AND NUNOTA = @NUNOTA)
				BEGIN
					UPDATE TGFCAB SET AD_STATUS_PED = 'AF' WHERE NUNOTA = @NUNOTA
				END
			END

		END

		-- VERIFICA SE OUTRO EVENTOS COMERCIAL FORAM APROVADOS
		IF ((@EVENTO = '1' OR @EVENTO = '2' OR @EVENTO = '3'  OR @EVENTO = '14' OR @EVENTO = '62' OR @EVENTO = '77') AND (@VALOR_APROVADO IS NOT NULL OR @VALOR_APROVADO > 0) AND @REPROVADO='S' AND @HORA_LIB IS NOT NULL)
		BEGIN
			IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='AAC' AND NUNOTA = @NUNOTA)
			BEGIN	
				UPDATE TGFCAB SET AD_STATUS_PED = 'ASE' WHERE NUNOTA = @NUNOTA
			END
		END


		-- VERIFICAR SE OUTROS EVENTOS COMERCIAIS FORAM REPROVADOS
		IF ((@EVENTO = '1' OR @EVENTO = '2' OR @EVENTO = '3' OR @EVENTO = '14' OR @EVENTO = '62' OR @EVENTO = '77') AND (@VALOR_APROVADO IS NOT NULL OR @VALOR_APROVADO > 0) AND @REPROVADO='S' AND @HORA_LIB IS NOT NULL)
		BEGIN
			IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='AAC' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'REC' WHERE NUNOTA = @NUNOTA
			END
		END

		IF ((@EVENTO = '1' OR @EVENTO = '2' OR @EVENTO = '3' OR @EVENTO = '14' OR @EVENTO = '62' OR @EVENTO = '77') AND (@VALOR_APROVADO IS NOT NULL OR @VALOR_APROVADO > 0) AND @REPROVADO='N' AND @HORA_LIB IS NOT NULL)
		BEGIN
			IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='REC' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'ASE' WHERE NUNOTA = @NUNOTA
			END
		END

		-- VERIFICA SE EVENTO FINANCEIRO FOI APROVADO
		IF (@EVENTO= '44' AND (@VALOR_APROVADO >0 OR @VALOR_APROVADO IS NOT NULL) AND @HORA_LIB IS NOT NULL AND @REPROVADO='N' )
		BEGIN
			IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='AAF' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'ASE' WHERE NUNOTA = @NUNOTA
			END		
		END

		-- VERIFICA SE EVENTO FINANCEIRO FOI REPROVADO
		IF (@EVENTO= '44' AND (@VALOR_APROVADO >0 OR @VALOR_APROVADO IS NOT NULL) AND @HORA_LIB IS NOT NULL AND @REPROVADO='S' )
		BEGIN
			IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='AAF' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'REF' WHERE NUNOTA = @NUNOTA
			END
		END	

		IF (@EVENTO= '44' AND (@VALOR_APROVADO >0 OR @VALOR_APROVADO IS NOT NULL) AND @HORA_LIB IS NOT NULL AND @REPROVADO='N' )
		BEGIN
			IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='REF' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'ASE' WHERE NUNOTA = @NUNOTA
			END
		END

	IF (@CODTOP = 1003)
	BEGIN
		-- VERIFICAR SE APROVAÇÃO DE CONFIRMAÇÃO DA NOTA FOI EFETIVADA E VAI PARA APROVAÇÃO DO LAYOUT
		IF (@EVENTO = '18' AND @VALOR_APROVADO > 0  OR  @VALOR_APROVADO IS NOT NULL AND @HORA_LIB IS NOT NULL )
		BEGIN
			IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='ANC' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'ASE' WHERE NUNOTA = @NUNOTA
			END
		END

		-- VERIFICAR SE A CONFIRMAÇÃO DA NOTA FOI RECUSADA
		IF (@EVENTO= '18' AND (@VALOR_APROVADO >0 OR @VALOR_APROVADO IS NOT NULL) AND @HORA_LIB IS NOT NULL AND @REPROVADO='S' AND @LAYOUT = 'N')
		BEGIN
			IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='ACN' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'NCN' WHERE NUNOTA = @NUNOTA
			END
		END

		-- VERIFICAR SE APROVAÇÃO DE CONFIRMAÇÃO DA NOTA FOI EFETIVADA E VAI PARA APROVAÇÃO DO LAYOUT
		IF (@EVENTO = '18' AND @VALOR_APROVADO > 0  OR  @VALOR_APROVADO IS NOT NULL AND @HORA_LIB IS NOT NULL)
		BEGIN
			IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='NCN' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'ASE' WHERE NUNOTA = @NUNOTA
			END
		END

	END
	
	END
	
RETURN 

ERROR:
	IF (@VALIDAR = 1)
		EXEC SANKHYA.SNK_ERROR @ERRMSG

		SELECT @SOLICITANTE = PROGRAM_NAME
		FROM MASTER.DBO.SYSPROCESSES (NOLOCK)
		WHERE SPID = @@SPID

		IF (UPPER (@SOLICITANTE) LIKE 'MICROSOFT%') OR
				  (@SOLICITANTE = 'MS SQLEM') OR
				  (@SOLICITANTE = 'MS SQL QUERY ANALYZER') OR
			(UPPER (@SOLICITANTE) LIKE 'TOAD%')
		ROLLBACK TRANSACTION 

END
