USE [SANKHYA_PRODUCAO]
GO
/****** Object:  Trigger [SANKHYA].[TRG_INC_STATUS_PED_TGFVAR]    Script Date: 13/11/2023 16:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER TRIGGER [SANKHYA].[TRG_INC_STATUS_PED_TGFVAR] ON [SANKHYA].[TGFVAR]
FOR INSERT AS
BEGIN
	DECLARE
		@NUNOTAORIG             INT,
		@QTATENDIDA             FLOAT,
		@SEQORIG                SMALLINT,
		@CODPROD                INT,
		@NUMROWS                INT,
		@ERRMSG                 VARCHAR(255),
		@SOLICITANTE            CHAR(30),
		@PENDENTE               CHAR,
		@NUNOTA                 INT,
		@SEQUENCIA              SMALLINT,
		@QTDREST                FLOAT,
		@CODPROD_O              INT,
		@PCOUNT                 INT,
		@FIXACAO                CHAR(1),
		@TOPKITSERVICO          INT,
		@TOPIMPUREZA            INT,
		@TOPNOTA                INT,
		@TIPMOV                 CHAR(1),
		@SEQUENCIAORIG		SMALLINT,
		@NUMTRANSF		INT,
		@NEWNUMTRANSF  INT,
		@CODMETA		SMALLINT,
		@DTREF			DATETIME,
		@CODEMP			SMALLINT,
		@CODGRUPOPROD		INT,
		@CODLOCAL		INT,
		@CONTROLE		TypeCONTROLE,
		@MARCA			CHAR(10),
		@CODPROJ		INT,
		@CODCENCUS		TypeCODCENCUS,
		@CODNAT			INT,
		@CODCTACTB		INT,
		@CODREG			INT,
		@CODGER			SMALLINT,
		@CODVEND		SMALLINT,
		@CODPARC		INT,
		@CODUF			SMALLINT,
		@CODCID			INT,
		@CODPAIS		SMALLINT,
		@CODTIPPARC		INT,
		@VALOR			MONEY,
		@CODUSU			SMALLINT,
		@NUFIN			INT,
		@STATUS			CHAR(1),
		@CODUSULIB		SMALLINT,
		@GRAU			SMALLINT,
		@DTNEG			DATETIME,
		@TIPO			CHAR(1),
		@SINAL			SMALLINT,
		@SEQUENCIA2		SMALLINT,
		@VALIDAR				  BIT,
		@COUNT				INT,
		@ADIARATUALIZACAOORIGEM CHAR(1),
		@SEQUENCIA1	INT
	
    
  SELECT  @NUMROWS = @@ROWCOUNT
  IF @NUMROWS = 0
     RETURN

  IF (SANKHYA.STP_GET_ATUALIZANDO() = 1)
    RETURN

	/* 
	Sincronização de dados
	*/
	EXEC SANKHYA.FPODEVALIDAR 'TGFVAR', @VALIDAR OUTPUT
	IF (@VALIDAR = 0)
	  RETURN
		
  -- para não validar abaixo (LIGAÇÃO DE NOTA DEPÓSITO COM QUEBRA TÉCNICA OS-293834)
  IF NOT EXISTS (SELECT 1 FROM INSERTED I WHERE (I.SEQUENCIA <> 0) AND (I.SEQUENCIAORIG <> 0) AND (I.QTDATENDIDA <> 0))
    RETURN

  IF NOT EXISTS(SELECT 1 FROM INSERTED WHERE NUNOTAORIG <> NUNOTA)
     RETURN

  IF @NUMROWS <> 1
     BEGIN
       SELECT @ERRMSG = 'TRG_INC_TGFVAR - Nao preparado para fazer inclusoes simultaneas.'
       GOTO ERROR
     END

  SELECT
    @NUNOTAORIG = I.NUNOTAORIG,
    @SEQORIG    = I.SEQUENCIAORIG,
    @QTATENDIDA = I.QTDATENDIDA,
    @NUNOTA     = I.NUNOTA,
    @SEQUENCIA  = I.SEQUENCIA,
	@SEQUENCIA2 = I.SEQUENCIA
  FROM
    INSERTED I


	IF EXISTS (SELECT NUNOTA FROM TGFCAB WHERE NUNOTA = @NUNOTA AND STATUSNOTA='A')
	BEGIN
		IF EXISTS(SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='EC' AND NUNOTA = @NUNOTAORIG)
		BEGIN
			UPDATE TGFCAB SET AD_STATUS_PED ='PF' WHERE NUNOTA = @NUNOTAORIG
		END	
	END


  SELECT
   @TIPMOV = TIPMOV,
   @TOPNOTA = CODTIPOPER
  FROM
   TGFCAB CAB
  WHERE CAB.NUNOTA = @NUNOTA

				
    
  RETURN
ERROR:
  IF (@VALIDAR = 1)
   	EXEC SANKHYA.SNK_ERROR @ERRMSG

  (SELECT @SOLICITANTE = program_name
   FROM MASTER.DBO.SYSPROCESSES
   WHERE SPID = @@SPID)

    IF (UPPER(@SOLICITANTE) LIKE 'MICROSOFT%') OR
             (@SOLICITANTE = 'MS SQLEM') OR 
             (@SOLICITANTE = 'MS SQL QUERY ANALYZER') OR
       (UPPER(@SOLICITANTE) LIKE 'TOAD%')
    ROLLBACK TRANSACTION
END
