USE [SANKHYA_PRODUCAO]
GO
/****** Object:  Trigger [SANKHYA].[TRI_UPD_LAY_STATUS_PEDIDO]    Script Date: 13/11/2023 16:28:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [SANKHYA].[TRI_UPD_LAY_STATUS_PEDIDO] ON [SANKHYA].[TGFCAB]
FOR UPDATE 
AS 
BEGIN

	DECLARE @NUNOTA INT,
			@NUMROWS INT,
			@VALIDAR BIT,
			@ERRMSG VARCHAR(500),
			@SOLICITANTE CHAR(30),
			@LAYOUT VARCHAR,
			@SEPARADOR VARCHAR,
			@DIVISAO INT,
			@NUNOTA_SAI INT,
			@PENDENTE CHAR,
			@DTBW DATETIME
	

	SET @NUMROWS = @@ROWCOUNT
	IF @NUMROWS = 0
		RETURN

	IF (SANKHYA.STP_GET_ATUALIZANDO() = 1)
    RETURN

	SELECT 
		@NUNOTA = CAB.NUNOTA,
		@DIVISAO = CAB.CODNAT,
		@LAYOUT = CAB.AD_APROVLAYOUT,
		@SEPARADOR = CAB.AD_SEPARADOR,
		@PENDENTE = CAB.PENDENTE,
		@DTBW = CAB.AD_DTAENTRADA_BW
	FROM INSERTED CAB

	/* SINCRONIZAR DADOS*/
	EXEC SANKHYA.FPODEVALIDAR 'TGFCAB', @VALIDAR OUTPUT 
	

	SET NOCOUNT ON


	-----------------------------------INICIO DAS REGRAS DE NEGOCIOS --------------------------------------

	------ Brindes

	IF (@DIVISAO = '1010100')
	BEGIN		
		-- VERIFICA SE O LAYOUT FOI APROVADO E VAI PARA BW
		IF (@LAYOUT = 'S')
		BEGIN
			IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='AAl' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED ='ASE' WHERE NUNOTA = @NUNOTA
			END
		END
		/**
		-- VERIFICA SE INICIOU A SEPRAÇÃO
		IF (@SEPARADOR IS NOT NULL)
		BEGIN
			IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='ASE' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED ='SIN' WHERE NUNOTA = @NUNOTA
			END
		END
		
		-- VERIFICA SE O PEDIDO FOI FATURADO
		IF EXISTS (SELECT NUNOTA FROM TGFVAR WHERE NUNOTAORIG = @NUNOTA)
		BEGIN
			SET @NUNOTA_SAI = (SELECT TOP 1 NUNOTA FROM TGFVAR WHERE NUNOTAORIG = @NUNOTA)
			IF EXISTS (SELECT NUNOTA FROM TGFCAB WHERE NUNOTA= @NUNOTA_SAI AND STATUSNOTA='A')
			BEGIN
				IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='EC' AND NUNOTA = @NUNOTA)
				BEGIN
					UPDATE TGFCAB SET AD_STATUS_PED ='PF' WHERE NUNOTA = @NUNOTA
				END
			END
		END	
		**/
	END

	IF (@DIVISAO = '1010300')
	BEGIN
		IF (@LAYOUT= 'S')
		BEGIN
			IF EXISTS(SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='AAL' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'ASE' WHERE NUNOTA = @NUNOTA
			END
		END

		IF (@LAYOUT= 'S' AND @DTBW IS NOT NULL)
		BEGIN
			IF EXISTS(SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='ERR' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'ASE' WHERE NUNOTA = @NUNOTA
			END
		END
		
		/**
		-- VERIFICA SE INICIOU A SEPRAÇÃO
		IF (@SEPARADOR IS NOT NULL)
		BEGIN
			IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='ASE' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED ='SIN' WHERE NUNOTA = @NUNOTA
			END
		END

		IF (@PENDENTE = 'N')
		BEGIN
			IF EXISTS(SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='CSO' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'PEC' WHERE NUNOTA = @NUNOTA
			END
		END

		**/
	 /**
		IF EXISTS (SELECT NUNOTA FROM TGFVAR WHERE NUNOTAORIG = @NUNOTA)
		BEGIN
			SET @NUNOTA_SAI = (SELECT TOP 1 NUNOTA FROM TGFVAR WHERE NUNOTAORIG = @NUNOTA)
			IF EXISTS (SELECT NUNOTA FROM TGFCAB WHERE NUNOTA= @NUNOTA_SAI AND STATUSNOTA='A')
			BEGIN
				IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='EC' AND NUNOTA = @NUNOTA)
				BEGIN
					UPDATE TGFCAB SET AD_STATUS_PED ='PF' WHERE NUNOTA = @NUNOTA
				END
			END
		END	
		**/
	END
	/**
	
	IF (@DIVISAO = '1010200')
	BEGIN
		-- VERIFICA SE INICIOU A SEPRAÇÃO
		IF (@SEPARADOR IS NOT NULL)
		BEGIN
			IF EXISTS(SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='ASE' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED ='SIN' WHERE NUNOTA = @NUNOTA
			END
		END
	END

	**/
	IF (@DIVISAO = '1010500')
	BEGIN
		--VERIFICA SE LAYOUT FOI APROVADO
		IF (@LAYOUT='S' AND @SEPARADOR IS NULL)
		BEGIN
			IF EXISTS(SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='AAL' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED ='ASE' WHERE NUNOTA = @NUNOTA
			END
		END

		/**
		IF (@SEPARADOR IS NOT NULL)
		BEGIN
			IF EXISTS(SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='ASE' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED ='SIN' WHERE NUNOTA = @NUNOTA
			END
		END
		**/
	END

	IF (@DIVISAO = '1010600')
	BEGIN
		-- VERIFICA SE LAYOUT FOI APROVADO E CONFIRMADO
		IF (@LAYOUT= 'S' AND @DTBW IS NOT NULL)
		BEGIN
			IF EXISTS(SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='EDI' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'ASE' WHERE NUNOTA = @NUNOTA
			END
		END
		/**
		-- VERIFICA SE INICIOU A SEPRAÇÃO
		IF (@SEPARADOR IS NOT NULL)
		BEGIN
			IF EXISTS( SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='ASE' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED ='SIN' WHERE NUNOTA = @NUNOTA
			END
		END
		**/
	END
	
RETURN 


ERROR:
	IF (@VALIDAR = 1)
		EXEC SANKHYA.SNK_ERROR @ERRMSG

		SELECT @SOLICITANTE = PROGRAM_NAME
		FROM MASTER.DBO.SYSPROCESSES (NOLOCK)
		WHERE SPID = @@SPID

		IF (UPPER (@SOLICITANTE) LIKE 'MICROSOFT%') OR
				  (@SOLICITANTE = 'MS SQLEM') OR
				  (@SOLICITANTE = 'MS SQL QUERY ANALYZER') OR
			(UPPER (@SOLICITANTE) LIKE 'TOAD%')
		ROLLBACK TRANSACTION 

END
