USE [SANKHYA_PRODUCAO]
GO
/****** Object:  Trigger [SANKHYA].[TRI_UPD_STATUS_PEDIDO]    Script Date: 13/11/2023 16:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [SANKHYA].[TRI_UPD_STATUS_PEDIDO] ON [SANKHYA].[VTXPED]
FOR UPDATE 
AS 
BEGIN

	DECLARE @NUNOTA INT,
			@NUMROWS INT,
			@VALIDAR BIT,
			@ERRMSG VARCHAR(500),
			@SOLICITANTE CHAR(30),
			@PEDIDO CHAR(40),
			@DIVISAO INT,
			@STATUS CHAR(40),
			@LAYOUT CHAR
	

	SET @NUMROWS = @@ROWCOUNT
	IF @NUMROWS = 0
		RETURN

	IF (SANKHYA.STP_GET_ATUALIZANDO() = 1)
    RETURN

	SELECT 
		@NUNOTA = VTX.NUNOTA,
		@PEDIDO = VTX.PEDIDO,
		@STATUS = VTX.STATUS
		FROM INSERTED VTX

	/* SINCRONIZAR DADOS*/
	EXEC SANKHYA.FPODEVALIDAR 'VTXPED', @VALIDAR OUTPUT 
	

	SET NOCOUNT ON

	SET @DIVISAO = (SELECT CODNAT FROM TGFCAB WHERE NUNOTA = @NUNOTA)
	
	-----------------------------------INICIO DAS REGRAS DE NEGOCIOS --------------------------------------

	------ Ecommerce

	IF (@DIVISAO = '1010300')
	BEGIN
		
		-- VERIRIFICA SE PEDIDO ESTA EM CARENCIA DE CANCELAMENTO
		--IF EXISTS (SELECT NUNOTA FROM VTXPED WHERE NUNOTA = @NUNOTA AND STATUS ='window-to-cancel')
		IF (@STATUS = 'window-to-cancel')
		BEGIN
			IF EXISTS(SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='EDI' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'CCA' WHERE NUNOTA = @NUNOTA
			END	
		END

		--- VERIFICA SE O PEDIDO FOI DIRETO PARA PREPARANDO ENTREGA
		IF (@STATUS = 'handling')
		BEGIN
			IF EXISTS(SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='EDI' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'ASE' WHERE NUNOTA = @NUNOTA
			END
		END

		IF (@STATUS = 'ready-for-handling')
		BEGIN
			IF EXISTS(SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='EDI' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'ASE' WHERE NUNOTA = @NUNOTA
			END
		END


		--- VERIFICA SE O PEDIDO FOI DIRETO PARA PREPARANDO ENTREGA
		IF (@STATUS = 'handling')
		BEGIN
			IF EXISTS(SELECT NUNOTA FROM TGFCAB WHERE AD_APROVLAYOUT='N' AND AD_DTAENTRADA_BW IS NULL AND PENDENTE= 'S' AND NUNOTA = @NUNOTA)
			BEGIN
				IF EXISTS(SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='CCA' AND NUNOTA = @NUNOTA)
				BEGIN
					UPDATE TGFCAB SET AD_STATUS_PED = 'ERR' WHERE NUNOTA = @NUNOTA
				END
			END
		END

		--- VERIFICA SE O PEDIDO FOI DIRETO PARA PREPARANDO ENTREGA
		IF (@STATUS = 'handling')
		BEGIN
			IF EXISTS(SELECT NUNOTA FROM TGFCAB WHERE AD_APROVLAYOUT='S' AND AD_DTAENTRADA_BW IS NOT NULL AND NUNOTA = @NUNOTA)
			BEGIN
				IF EXISTS(SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='CCA' AND NUNOTA = @NUNOTA)
				BEGIN
					UPDATE TGFCAB SET AD_STATUS_PED = 'ASE' WHERE NUNOTA = @NUNOTA
				END
			END
		END

		--- VERIFICA SE O PEDIDO FOI DIRETO PARA PREPARANDO ENTREGA
		IF (@STATUS = 'ready-for-handling')
		BEGIN
			IF EXISTS(SELECT NUNOTA FROM TGFCAB WHERE AD_APROVLAYOUT='N' AND AD_DTAENTRADA_BW IS NULL AND PENDENTE= 'S' AND NUNOTA = @NUNOTA)
			BEGIN
				IF EXISTS(SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='CCA' AND NUNOTA = @NUNOTA)
				BEGIN
					UPDATE TGFCAB SET AD_STATUS_PED = 'ERR' WHERE NUNOTA = @NUNOTA
				END
			END
		END

		-- VERIRIFICA SE PEDIDO ESTA PRONTO PARA MANUSEIO E COM LAYOUT APROVADO
		IF (@STATUS = 'ready-for-handling')
		BEGIN
			IF EXISTS(SELECT AD_APROVLAYOUT FROM TGFCAB WHERE AD_APROVLAYOUT='S' AND AD_DTAENTRADA_BW IS NOT NULL AND PENDENTE='S' AND NUNOTA = @NUNOTA)
			BEGIN
				IF EXISTS(SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='CCA' AND NUNOTA = @NUNOTA)
				BEGIN
					UPDATE TGFCAB SET AD_STATUS_PED = 'ASE' WHERE NUNOTA = @NUNOTA
				END
			END
		END

		-- VERIFICA SE O PEDIDO FOI CANCELADOS
		IF(@STATUS='canceled')
		BEGIN
			IF EXISTS(SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='CCA' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'PEC' WHERE NUNOTA = @NUNOTA
			END

		END
		
		-- VERIFICAR SE O PEDIDO FOI CANCELADO
		IF(@STATUS='cancellation-requested')
		BEGIN
			IF EXISTS(SELECT AD_STATUS_PED FROM TGFCAB WHERE AD_STATUS_PED='ASE' AND NUNOTA = @NUNOTA)
			BEGIN
				UPDATE TGFCAB SET AD_STATUS_PED = 'CSO' WHERE NUNOTA = @NUNOTA
			END
		END

		

	END

	
RETURN 


ERROR:
	IF (@VALIDAR = 1)
		EXEC SANKHYA.SNK_ERROR @ERRMSG

		SELECT @SOLICITANTE = PROGRAM_NAME
		FROM MASTER.DBO.SYSPROCESSES (NOLOCK)
		WHERE SPID = @@SPID

		IF (UPPER (@SOLICITANTE) LIKE 'MICROSOFT%') OR
				  (@SOLICITANTE = 'MS SQLEM') OR
				  (@SOLICITANTE = 'MS SQL QUERY ANALYZER') OR
			(UPPER (@SOLICITANTE) LIKE 'TOAD%')
		ROLLBACK TRANSACTION 

END
